/* CandyDoll backgrounds:		#771012 and  #691012 */
/* CandyDoll alt-backgrounds:	#aeac8e and  #a9a27c */
/* Icons from http://openiconlibrary.sourceforge.net/ */

body{
	background-image: url("images/background.png");
	color: #333;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

a{
	color: #333;
	text-decoration: none;
}
a:focus, a:hover{
	color: #933;
}
a img{
	border-width: 0;
}
form{
	padding: 0;
}
fieldset{
	border-width: 0;
	padding: 0;
}
legend{
	display: none;
}

h2{
	margin-top: 0;
}

.AbsolutePoint{
	position: absolute;
}
.Hidden{
	display: none;
}
.WarningRed{
	color: #c44;
}

.Loading{
	background-image: url('images/loading.gif');
	background-position: center center; 
	background-repeat: no-repeat;
}

table{
	width: 100%;
}
table thead tr{
	background-color: #dedede;
}
table thead th{
	text-align: left;
}
table tr.Row1{
	background-color: #efefef;
}
table tr.Row2{
	background-color: #dedede;
}

table td em{
	color: #e22;
	font-weight: bold;
}

div#Wrapper{
	background-image: url('images/background_container.png');
	background-repeat: repeat-y;
	margin: 0 auto;
	min-height: 200px;
	width: 1000px;
}
div#Header{
	background-image: url('images/background_header.jpg');
	background-position: 1px 0;
	background-repeat: no-repeat;
	height: 125px;
}
ul#TopNavigation,
ul#TopNavigation ul
{
	background-color: #aeac8e;
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul#TopNavigation li{
	float: left;
	text-align: center;
}
ul#TopNavigation li a{
	background-image: url('images/background_menuitem.png');
	display: block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
}
ul#TopNavigation li a:focus,
ul#TopNavigation li a:hover{
	color: #c00;
}
ul#TopNavigation ul{
	position: absolute;
	display: none;
	z-index: 3;
}
ul#TopNavigation ul li{
	float: none;
}
ul#TopNavigation ul li a{
	min-width: 100px;
}
ul#TopNavigation li a:focus + ul,
ul#TopNavigation li a:hover + ul,
ul#TopNavigation li a + ul:hover{
	display: block;
}

div#Content{
	line-height: 15pt;
	padding: 20px 20px 20px 15px;
}

div#Content table{
	width: 100%;
}

div#Footer{
	background-image: url('images/background_footer.jpg');
	background-position: 1px 0;
	background-repeat: no-repeat;
	clear: both;
	height: 100px;
}

div.userstats,
div.cddbstuff{
	background-image: url('images/button_off.png');
	color: #eddddd;
	font-size: x-small;
	height: 37px; /* +padding-top */
	padding-top: 8px;
	position: absolute;
	text-align: center;
	top: 30px;
	width: 162px;
}
div.userstats a,
div.cddbstuff a{
	color: #eddddd;
}

div.cddbstuff{
	left: 810px;
}
div.userstats{
	left: 634px;
}

form .FormRow{
	line-height: 30px;
}
form .FormRow a{
}
form .FormRow a img{
}
form label{
	clear: left;
	float: left;
	width: 150px;
}
form .WideForm label{
	width: 730px;
}

form label em{
	color: #cc0000;
	font-weight: bold;
}
form label.Radio{
	clear: none;
	float: none;
	width: 50px;
}
form input[type=text],
form input[type=password]{
	width: 250px;
}
form input[type=text].Small,
form input[type=password].Small{
	width: 120px;
}
form.FilterForm{
	background-color: #dedede;
	float: right;
	margin-right: 20px;
	padding: 10px 20px;
}
form.FilterForm label{
	float: none;
	width: auto;
}
form.FilterForm input[type=text]{
	height: 16px;
	line-height: 16px;
	margin-left: 10px;
	width: 150px;
}
form.FilterForm input[type=submit]{
	line-height: 16px;
}

.PhotoContainer{
	clear: right;
	float: right;
	height: 600px;
	margin: 10px 0 0 0;
	width: 400px;
}
.CenterForm{
	margin: 0 auto;
	width: 430px;
}
.CenterForm p{
	margin-top: 0;
	text-align: center;
}
.CenterForm form label{
	width: 110px;
}
.Lefty{
	text-align: left;
}
.Righty{
	text-align: right;
}
.Center{
	text-align: center;
}
.Separator{
	height: 20px;
	line-height: 20px;
}
.Clear{
	clear: both;
}

a.Button{
	background-image: url('images/button_off.png');
	color: #aeac8e;
	display: block;
	float: left;
	font-weight: bold;
	height: 45px;
	line-height: 45px;
	margin: 0 18px 20px 0;
	text-align: center;
	width: 162px;
}
a.Button:focus, a.Button:hover{
	background-image: url('images/button_on.png');
	text-decoration: none;
}

/* Errorlist */
div#ErrorContainer{
	background-color: #000000;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 4;
}
div.ErrorList{
	display: none;
	left: 0;
	height:100%;
	position:absolute;
	top: 0;
	width:100%;
	z-index:5;
}
div.ErrorList div{
	background-color: #7b000e;
	background-image: url('images/error_gradient.png');
	background-position: top left;
	background-repeat: repeat-x;
	border: solid 4px #8f2323;
	color: #dedede;
	cursor: pointer;
	font-size: 12pt;
	font-weight: bold;
	margin:150px auto 0 auto;
	padding: 20px;
	width: 520px;
}
div.ErrorList div ul{
	background-image: url('images/error.png');
	background-repeat: no-repeat;
	list-style-type: none;
	margin: 0;
	min-height: 120px;
	padding: 0 0 0 130px;
}


/* Model thumbnails */
.ThumbGalItem{
	background-image: url('images/background_modelitem.png');
	color: #dedede;
	float: left;
	margin: 0 15px 20px 15px; 
	padding: 15px 5px 10px 5px;
	width: 200px;
}
.ThumbImageWrapper{
	margin: 0 auto;
	width: 150px;
}
.ThumbDataWrapper{
}
.ThumbDataWrapper ul{
 	list-style-type:none;
 	margin: 0;
 	padding: 5px 5px 15px 20px;
}
.ThumbDataWrapper ul li em{
	color: red;
	font-weight: bolder;
}
.ThumbButtonWrapper{
	margin: 0 auto;
	width: 150px;
}
.ThumbButtonWrapper a{
	margin: 0 5px 0 0;
}

/* Set thumbnails */
.SetThumbGalItem{
	background-image: url('images/background_setitem.png');
	color: #dedede;
	float: left;
	margin: 0 20px 20px 20px; 
	padding: 15px 5px 5px 5px;
	width: 270px;
}
.SetThumbImageWrapper{
	margin: 0 auto;
	width: 225px;
}
.SetThumbDataWrapper{
	float:left;
	width:200px;
}
.SetThumbDataWrapper ul{
 	list-style-type:none;
}
.SetThumbDataWrapper ul li.Dirty{
	color: red;
	font-weight: bolder;
}
.SetThumbDataWrapper ul ul{
 	padding-left: 20px;
}
.SetThumbButtonWrapper{
	float:left;
	padding-top: 20px;
	width:50px;
}
.SetThumbButtonWrapper a img{
	margin: 0 5px 10px 0;
}


/* CacheImage delete */
.ImageOverlay{
	background-color: #fff;
	display: none;
	position: absolute;
	z-index: 3;
}
.RemoveCacheImage{
	display: none;
	position: absolute;
	z-index: 4;	
}
.RemoveCacheImage a{
	float: right;
	margin: 3px 3px 0 0;
}
.RemoveCacheImage a:hover img,
.RemoveCacheImage a:focus img{
	height: 14px;
	width: 14px;
}


/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/box_overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(images/box_controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/box_controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/box_controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/box_controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/box_controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/box_controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/box_border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/box_border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/box_controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/box_controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(images/box_loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(images/box_controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
  
  2012-02-16 FWieP: Commented out because of non-valid style.

.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}*/